[run]
branch = True
omit =
	setup.py
	data_browser/migrations/*.py

[report]
exclude_lines =
	assert
	pragma: no cover
	pragma: postgres
	pragma: not postgres
	pragma: not sqlite
	pragma: mysql
	pragma: django < 3.1
	pragma: django != 3.1.3
