# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.10
default_stages: [commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
    -   id: pyupgrade
        args: [--py37-plus, --keep-runtime-typing]
-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.13.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "3.2"]
-   repo: https://github.com/hakancelik96/unimport
    rev: 0.14.1
    hooks:
    -   id: unimport
        args: [--remove, --include-star-import, --ignore-init, --gitignore]
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
    -   id: isort
-   repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    -   id: black
-   repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        entry: pflake8
        additional_dependencies:
        -   pyproject-flake8
        -   flake8-use-fstring
        -   flake8-tidy-imports
        -   flake8-comprehensions
        -   flake8-bugbear
        -   flake8-print
        -   flake8-debugger
        -   flake8-simplify
        -   flake8-return
        -   flake8-no-pep420
        -   flake8-tuple
-   repo: https://github.com/Lucas-C/pre-commit-hooks-markup
    rev: v1.0.1
    hooks:
    -   id: rst-linter
-   repo: local
    hooks:
    -   id: no-prints
        name: Check for python prints
        entry: ' *print\('
        language: pygrep
        types: [python]
        exclude: tests/
exclude:
    data_browser/fe_build/|data_browser/templates/data_browser/index.html
