# package requirements
dataclasses; python_version<"3.7"
Django>=2.2
hyperlink <= 21.0.0
python-dateutil <= 2.8.2
sqlparse <= 0.4.4

# dev and test
coverage[toml] <= 7.3.2
dj-database-url <= 2.10
pre-commit
pytest <= 7.4.3
pytest-cov
pytest-django <= 4.6.0
pytest-mock
pytest-xdist < 2.0
requests
snapshottest
time-machine
