# package requirements
dataclasses; python_version<"3.7"
Django>=2.2
hyperlink <= 20.0.1
python-dateutil <= 2.8.0
sqlparse <= 0.4.4

# dev and test
coverage[toml]
dj-database-url <= 2.10
pre-commit
pytest <= 7.4.3
pytest-cov
pytest-django <= 4.6.0
pytest-mock
pytest-xdist < 2.0
requests
snapshottest
time-machine
