*,
*:after,
*:before {
  box-sizing: border-box;
  font-weight: normal;
}

html.html {
  overflow-y: scroll;
}

#body {
  flex: 1;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #333e48;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#body a {
  text-decoration: none;
}

#body a:hover {
  text-decoration: underline;
}

table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 5px;
}
td {
  text-align: right;
}
th {
  text-align: center;
}
h1 {
  text-align: center;
  margin-bottom: 0;
}
p {
  margin: 5px auto;
}
select {
  display: inline;
  width: auto;
}
.MainSpace {
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  margin-bottom: 30px;
}
.Filters {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Filters p {
  margin: 5px;
}
.Filters .error * {
  background-color: #ff4040;
}
.Filters .error {
  background-color: #ff4040;
}
.ToggleLink {
  display: block;
}
.ToggleDiv {
  display: block;
  padding-left: 15px;
}
.FieldsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button.Link {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  color: #069;
  font-size: inherit;
  font: inherit;
}
button.Link:hover {
  text-decoration: underline;
}
