*,
*:after,
*:before {
  box-sizing: border-box;
}

select,
input,
th,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

#body {
  font-family: "Roboto", "Noto Sans", sans-serif;
  padding: 0;
  margin: 10px 0 30px 0;
  font-size: 16px;
  color: #333e48;
  display: flex;
  flex-direction: column;
  position: relative;
}

#body a {
  text-decoration: none;
}

#body a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 28px;
}

.ModelSelector {
  margin: 0 auto;
  text-align: center;
  text-align-last: center;
  border: none;
  padding: 1px;
  font-size: 28px;
  color: #333e48;
}
.ModelSelector:hover {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0;
}
p {
  margin: 5px auto;
}

select,
input {
  border: 1px solid #ccc;
  border-radius: 3px;
}
input {
  padding: 3px 6px;
}
select {
  display: inline;
  width: auto;
  padding: 2px;
}
.Link {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  color: #069;
  text-align: left;
}
.Link:hover {
  text-decoration: underline;
}
.sLink {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  color: #069;
  vertical-align: -20%;
  font-size: inherit;
  font-weight: inherit;
}
.sLink:hover {
  text-decoration: underline;
}

.MainSpace {
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  padding: 0 10px;
  min-width: 700px;
  justify-content: space-between;
}

/* Filters */

.Filters {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Filters p {
  margin: 5px;
}
select.FilterValue,
input.FilterValue {
  width: 100%;
}
select.Lookup {
  width: 100%;
}
.Filters table,
.Filters table.Flat th,
.Filters table.Flat td {
  border: none;
  padding: 3px 1px;
}

/* Fields */

.FieldsList {
  padding: 0 10px 0 0;
  margin: 0;
}
.FieldsList table {
  border: 1px solid #ccc;
  border-radius: 3px;
}
.FieldsList tbody,
.FieldsList th,
.FieldsList td {
  border: none;
  vertical-align: top;
}
.FieldsList th,
.FieldsList td {
  padding: 0px;
  padding: 1px;
}
.FieldsList td {
  text-align: left;
}

/* Results */

.Results th {
  background-color: #eee;
}
table.Results,
.Results th,
.Results td {
  border: 1px solid #ccc;
  border-radius: 2px;
}
.Results tr {
  line-height: 120%;
}
.Results th,
.Results td {
  padding: 5px;
}
.Results td.number,
.Results td.time {
  text-align: right;
}
.Results td.HoriBorder,
.Results th.HoriBorder {
  border-top: 2px solid black;
  /*border-bottom: 1px solid black;*/
}
.Results td.LeftBorder,
.Results th.LeftBorder {
  border-left: 2px solid black;
}
.Results td.Empty {
  border: none;
}

.Results th {
  text-align: center;
}

/* Logo */

a.Logo {
  position: absolute;
  margin: 0 15px;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  cursor: pointer;
  color: #333e48;
}
a.Logo > span {
  display: inline-block;
}
a.Logo > span.Version {
  font-size: 20px;
}

/* Index Page */

div.Index {
  margin: 30px;
}
div.Index > div {
  width: 46%;
  float: left;
  color: #333e48;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 30px 2% 0 2%;
  padding: 0 2% 2% 2%;
}
div.Index .Link {
  display: inline-block;
  font-size: 20px;
}

/* Edit View */

.EditSavedView {
  margin: 40px auto 30px auto;
}
.EditSavedView form {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px 15px 12px 15px;
}
.EditSavedView .SavedViewName {
  font-size: 20px;
  width: 100%;
}
.EditSavedView textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2%;
  min-width: 500px;
  width: 100%;
  min-height: 100px;
}
.EditSavedView th {
  padding: 2px;
  font-weight: bold;
  text-align: left;
}
.EditSavedView td {
  padding: 2px;
}
.EditSavedView table {
  padding: 5px 2px;
}
.SavedViewActions {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
