*,
*:after,
*:before {
  box-sizing: border-box;
  font-weight: normal;
}

#body {
  flex: 1;
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 14px;
  color: #333e48;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

#body a {
  text-decoration: none;
}

#body a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 28px;
}

.ModelSelector {
  margin: 0 auto;
  text-align: center;
  text-align-last: center;
  border: none;
  padding: 1px;
  font-size: 28px;
  color: #333e48;
}
.ModelSelector:hover {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0;
}
p {
  margin: 5px auto;
}

select,
input {
  border: 1px solid #ccc;
  border-radius: 3px;
}
input {
  padding: 3px 6px;
}
select {
  display: inline;
  width: auto;
  padding: 2px;
}
button.Link {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  color: #069;
  font-size: inherit;
  font: inherit;
  text-align: left;
}
button.Link:hover {
  text-decoration: underline;
}

.MainSpace {
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  margin-bottom: 30px;
  padding: 0 10px;
}

/* Filters */

.Filters {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Filters p {
  margin: 5px;
}
select.FilterValue,
input.FilterValue {
  width: 100%;
}
select.Lookup {
  width: 100%;
}
.Filters table,
.Filters table.Flat th,
.Filters table.Flat td {
  border: none;
  padding: 3px 1px;
}

/* Fields */

.FieldsList {
  padding: 0 10px 0 0;
  margin: 0;
  min-width: 200px;
}
.FieldsList table {
  border: 1px solid #ccc;
  border-radius: 3px;
}
.FieldsList tbody,
.FieldsList th,
.FieldsList td {
  border: none;
  vertical-align: top;
}
.FieldsList th,
.FieldsList td {
  padding: 0px;
  padding: 1px;
}
.FieldsList td {
  text-align: left;
}

/* Results */

table.Results,
.Results th,
.Results td {
  border: 1px solid #ccc;
  border-radius: 2px;
}
.Results th,
.Results td {
  padding: 5px;
}
.Results td.number,
.Results td.time {
  text-align: right;
}

.Results th {
  text-align: center;
}

/* Logo */

div.Logo {
  position: absolute;
  margin: 0 15px;
  font-size: 30px;
  font-family: Impact, Charcoal, sans-serif;
  cursor: pointer;
}
div.Logo > span {
  display: inline-block;
}
div.Logo > span.Version {
  font-size: 20px;
}

/* Index Page */

div.Index {
  margin: 30px;
}
div.Index > div {
  width: 46%;
  float: left;
  color: #333e48;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 2%;
  padding: 0 2% 2% 2%;
}
div.Index .Link {
  display: block;
  font-size: 20px;
}
