{% for name, field in group.0.items|dictsort:0 %}
    {% if field.concrete %}
        <a href="{{ field.add_filter_link }}">Y</a>
    {% else %}
        &nbsp;&nbsp;
    {% endif %}
    <a href="{{ field.add_link }}">{{ name }}</a>
    <br>
{% endfor %}

{% for name, path_group in group.1.items|dictsort:0 %}
    <a href="" class="toggle_link" style="display: block">+ {{ name }}</a>
    <div class="toggle_div" id="{{ query.app }}__{{ query.model }}__{{ path_group.0 }}" style="display: none; padding-left: 15px">
        {% include 'data_browser/fields_snippet.html' with group=path_group.1 %}
    </div>
{% endfor %}
