{% extends 'admin/base.html' %} {% load i18n static %} {% block title %}{{ block.super }} | View{% endblock %} {% block header %}
<div id="header">
    <div id="branding">{% block branding %}{% endblock %}</div>
    {% block usertools %}
    <div id="user-tools">{% block welcome-msg %} {% translate 'Welcome,' %} <strong>{% firstof user.get_short_name
        user.get_username %}</strong>. {% endblock %} {% include "admin/includes/userlinks.html" %}
    </div>
    {% endblock %} {% block nav-global %}{% endblock %}
</div>{% endblock %} {% block bodyclass %}{{ block.super }} light-theme{% endblock %} {% block extrastyle %} {{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"/>
<link href="{% url 'data_browser:home' %}apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="{% url 'data_browser:home' %}favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="{% url 'data_browser:home' %}favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="{% url 'data_browser:home' %}site.webmanifest" rel="manifest"/>
<style>body.light-theme {
    background-color: #fff !important;
    color: #000
}

html {
    --primary: #79aec8;
    --secondary: #417690;
    --accent: #f5dd5d;
    --primary-fg: #fff;
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;
    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
    --link-fg: #417893;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
    --error-fg: #ba2121;
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
    --darkened-bg: #f8f8f8;
    --selected-bg: #e4e4e4;
    --selected-row: #ffc;
    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #609ab6;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #747474;
    --close-button-hover-bg: #333;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
    --font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.vTextField, input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], select, textarea {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
    color: #333 !important;
    background-color: #fff !important
}</style>{% endblock %} {% block extrahead %} {{ block.super }}
<meta content="Data Browser" name="description"/>
<script defer="defer" src="./static/js/main.d810a485.js"></script>
<link href="./static/css/main.ed40c060.css" rel="stylesheet">{% endblock %} {% block content %}
<noscript>You need to enable JavaScript to run this app.</noscript>{% csrf_token %}
<script id="backend-version" type="application/json">{{
    version
}}</script>
<script id="backend-config" type="application/json">{
    % autoescape off %}{{config}}{% endautoescape %
}</script>
<div id="root"></div>{% endblock %}